.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 81.4%;
  gap: 32px;
}

.header{
  padding-top: 64px;
  font-size: 6rem;
  font-weight: bold;
  color: var(--black-color-default)
}

.colums{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.column{
  display: flex;
  flex-direction: column;
  width: 49%;
  gap: 24px;
}

.description{
  font-size: 2.4rem;
  color: var(--black-color-default)
}
