.set{
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  gap: 4.33px;
}

.counter{
  height: min-content;
  font-size: 1.6rem;
}

.image{
  height: 3.2rem;
  cursor: pointer;
  transition: opacity .5s
}

.image:hover{
  opacity: .5;
}
