@import url('./utils/fonts/roboto.css');

:root{
  --black-color-default: #0A0A0A;
}

*{
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
}

html{
  font-size: 10px;
}
